@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/EBGaramond-VariableFont_wght.ttf");
}
/* Global styles */
.window-app {
  font-family: 'EBGaramond', sans-serif;
}
.window-app .window-content {
  background-image: url("../ui/background-white.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.window-app .window-content .compendium.directory .directory-list .directory-item {
  border: none;
}
.window-app .window-content .compendium.directory .directory-list .directory-item:hover {
  background-color: #59564c;
  color: #ffffff;
}
.rollable:hover,
.rollable:focus {
  color: #d44d54;
  text-shadow: 0 0 10px #eea3a3;
  cursor: url("../ui/dice/d20-red.svg") 32 24, pointer;
}
.color-white {
  /*color: white;*/
  color: #dfe2d5;
}
#logo {
  content: url("../ui/cthack-logo.webp");
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
#pause > img {
  content: url("../ui/cthack-logo.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}
.character-resume {
  text-align: center;
}
.character-resume .adrenaline-img {
  height: 25px;
  width: 25px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptextleft {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -25px;
}
.tooltip .tooltiptextright {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -85px;
}
.tooltip:hover .tooltiptextleft,
.tooltip:hover .tooltiptextright {
  visibility: visible;
}
div.tip .tip-title {
  color: #E77600 !important;
  font-weight: bold;
}
.chat-message .message-header .message-sender {
  font-weight: bold;
}
i.cthack {
  width: 36px;
  height: 36px;
  background-image: url(../ui/cthack-logo.webp);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  filter: grayscale(1);
  transition: 0.3s;
}
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0;
  padding: 0;
}
.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}
.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}
.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex-between {
  justify-content: space-between;
}
.chat-message .message-content {
  background-image: url(../ui/cthack-green.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.message-content .chat-save-roll,
.message-content .chat-resource-roll,
.message-content .chat-other-roll {
  padding: 5px;
}
.dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}
.roll-failure {
  color: red;
}
.roll-success {
  color: green;
}
/* Styles limited to cthack sheets */
.cthack .window-content {
  background-image: url("../ui/sheet.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: var(--font-size-20);
  scrollbar-width: thin;
}
.cthack .align-left {
  text-align: left;
}
.cthack .align-right {
  text-align: right;
}
.cthack .align-center {
  text-align: center;
  vertical-align: middle;
}
.cthack .noborder {
  border: none;
}
.cthack input[type="text"],
.cthack input[type="number"],
.cthack input[type="password"],
.cthack input[type="date"],
.cthack input[type="time"] {
  color: #fff;
}
.cthack input[type="text"] {
  border: none;
}
.cthack input[type="checkbox"] {
  height: 12px;
  width: 12px;
}
.cthack select {
  border: none;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  font-weight: 800;
}
.cthack option {
  color: #fff;
  background: #37372d;
}
.cthack option:checked,
.cthack option:hover {
  color: #fff;
  background: #37372d;
}
.cthack ::-webkit-scrollbar {
  display: none;
}
.cthack nav.sheet-tabs {
  height: 40px;
  border-top: 0;
  border-bottom: 0;
}
.cthack .frame {
  background-image: url("../ui/frame.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  height: 50px;
  border: none;
  color: #fff;
}
.cthack .attack-damage {
  width: 75px;
  text-align: center;
}
.cthack .ask-roll-title .fa-dice-d20 {
  padding-right: 5px;
  padding-left: 5px;
}
.cthack #gm-manager {
  font-size: var(--font-size-18);
}
.cthack .cthack.sheet.actor a.inline-roll,
.cthack .cthack.sheet.item a.inline-roll {
  color: black;
}
.cthack .item-form {
  color: #fff;
}
.cthack .sheet-header {
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cthack .sheet-header .profile-img {
  height: calc(20%);
  width: auto;
  margin: 0;
}
.cthack .sheet-header .opponent-img {
  height: calc(10%);
  width: auto;
  margin: 0;
}
.cthack .sheet-header .adrenaline-img {
  height: 30px;
  width: auto;
}
.cthack .sheet-header .definition-img {
  height: auto;
  width: 50px;
}
.cthack .sheet-header .header-fields {
  flex: 5;
}
.cthack .sheet-header h1.charname {
  height: 50px;
  padding: 0px 20px 0px 20px;
  margin: 5px 0;
  border-bottom: 0;
}
.cthack .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.cthack .sheet-tabs {
  flex: 0;
}
.cthack .tox .tox-editor-container {
  background: #fff;
}
.cthack .tox .tox-edit-area {
  padding: 0 8px;
}
.cthack .sheet-body {
  height: 100%;
  min-height: 150px;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack .sheet-body .tab {
  min-height: 150px;
  height: 100%;
}
.cthack .sheet-body .tab .editor {
  min-height: 150px;
  height: 100%;
}
.cthack .tabs {
  height: 40px;
}
.cthack .tabs .choice {
  line-height: 40px;
  font-weight: bold;
}
.cthack .tabs .choice.active {
  color: darkgrey;
  font-weight: bold;
  text-shadow: 0 0 10px #851016;
}
.cthack .sheet-actor {
  margin: 10px 20px;
}
.cthack .occupation,
.cthack .archetype,
.cthack .save,
.cthack .resource {
  border: none;
}
.cthack .character-notes {
  color: #fff;
}
.cthack .input-hitpoints {
  border-style: none;
  font-size: 16px;
}
.cthack .occupation {
  padding-right: 15px;
  padding-bottom: 10px;
}
.cthack .occupation-input {
  font-size: var(--font-size-18);
}
.cthack .hitpoints {
  padding-left: calc(25%);
  padding-right: calc(25%);
}
.cthack .hitpoints-frame {
  background-image: url("../ui/frame.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  border: none;
  color: #fff;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cthack .saves {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}
.cthack .save {
  font-size: var(--font-size-16);
}
.cthack .save-name {
  flex-grow: 3;
}
.cthack input.save {
  color: #fff;
}
.cthack .resource-label {
  text-transform: uppercase;
  font-size: var(--font-size-16);
}
.cthack .resource-content {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 5px;
}
.cthack .resource-content-archetype {
  margin: 0;
  padding: 0;
}
.cthack .resource-content-archetype select {
  color: #fff;
}
.cthack .sheet-opponent {
  margin: 10px 20px;
}
.cthack .sheet-opponent .editor {
  min-height: 50px;
}
.cthack .sheet-opponent .charname {
  border: 0;
}
.cthack .sheet-opponent .flexrow {
  border: 0;
}
.cthack .sheet-opponent label {
  flex: 3;
}
.cthack .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cthack .items-list h4 {
  font-size: var(--font-size-20);
}
.cthack .items-list div {
  text-align: center;
  vertical-align: middle;
}
.cthack .items-list .item-header {
  line-height: 25px;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid #fff;
}
.cthack .items-list .item-header .item-header-name {
  flex: 2;
  text-align: left;
  vertical-align: middle;
}
.cthack .items-list .item {
  line-height: 25px;
  padding: 0 5px 0 5px;
}
.cthack .items-list .item:hover {
  background-color: #59564c;
}
.cthack .items-list .item .item-image {
  flex: 0 0 40px;
  padding-top: 5px;
  margin-right: 5px;
}
.cthack .items-list .item .item-name {
  padding-top: 10px;
  text-align: left;
}
.cthack .items-list .item .item-element {
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
}
.cthack .items-list .item .item-element-text {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}
.cthack .items-list .item-bloc {
  flex: 2;
  margin: 0;
}
.cthack .items-list .item-name {
  flex: 2;
  margin: 0;
  padding-top: 10px;
}
.cthack .items-list .item-controls-header {
  flex: 0 0 86px;
  text-align: right;
}
.cthack .items-list .item-controls {
  flex: 0 0 86px;
  text-align: right;
  padding-top: 10px;
}
.cthack .items-list .item-summary {
  flex: 0 0 100%;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #c9c7b8;
  text-align: left;
}
.cthack .items-list .item-condition {
  padding-top: 5px;
}
.cthack .sheet-header .archetype-image {
  height: auto;
  width: 128px;
  margin: 20px 10px 0 20px;
}
.cthack .sarchetype-editor {
  margin: 0 20px;
}
.cthack .sheet-header .item-image {
  min-height: 128px;
  width: auto;
  margin: 20px 0 0 20px;
}
.cthack .sheet-header .item-name {
  margin: 0 10px 0 10px;
}
.cthack .item-item {
  padding-left: 15px;
}
.cthack .item-item label {
  margin-right: 10px;
}
.cthack .item-weapon {
  padding-left: 15px;
}
.cthack .item-weapon label {
  margin-right: 10px;
}
.cthack .item-weapon .select-range {
  color: #fff;
  width: 80px;
}
.cthack .item-attack {
  padding-left: 10px;
  margin: 0 10px 0 10px;
}
.cthack .item-attack label {
  margin-right: 10px;
}
.cthack .item-attack .select-dice {
  color: #fff;
  width: 80px;
}
.cthack .item-attack .attack-damage {
  height: 40px;
}
.cthack .item-attack .item-dice {
  flex: 4;
}
.cthack .item-ability select {
  color: #fff;
  font-weight: normal;
}
.cthack .item-ability label {
  flex: 8;
}
.cthack .item-ability input {
  text-align: center;
}
.cthack .item-ability label.advantage {
  flex: 2;
}
.cthack .item-ability .ability-checkbox {
  justify-content: center;
}
.cthack .sheet-archetype .sheet-body {
  height: 400px;
}
.cthack .sheet-archetype select {
  flex: 0 0 150px;
  text-align-last: center;
}
.cthack .magic-sheet .magic-title {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack .magic-sheet .magic-title input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 20px 0 0 10px;
  color: #fff;
}
.cthack .magic-sheet .magic-title img {
  border: 0px;
  max-height: 50px;
}
.cthack .magic-sheet .magic-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.cthack .magic-sheet .magic-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack .magic-sheet .magic-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack .magic-sheet .magic-grid .select-subtype {
  min-width: 80px;
  font-size: 1rem;
  color: #fff;
}
.cthack .magic-sheet .magic-grid .input-incantation {
  min-width: 100px;
  font-size: 1rem;
  height: 40px;
}
.cthack .magic-sheet .description-group {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 15px 10px;
  padding-top: 10px;
  font-size: var(--font-size-16);
}
.cthack .magic-sheet .description-group .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack .magic-sheet .description-group .description-content {
  text-align: justify;
}
.cthack .magic-sheet .description-group .editor {
  min-height: 160px;
  scrollbar-width: thin;
}
.cthack .magic-sheet .description-group .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack .magic-sheet .description-group .prosemirror menu {
  font-size: 0.8em;
}
.cthack .magic-sheet .description-group .prosemirror menu li {
  margin: 0px 0px;
}
.cthack .magic-sheet .description-group .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack .magic-sheet .description-group .prosemirror menu button {
  background: var(--color-hover-bg);
}
