@import url("https://fonts.googleapis.com/css?family=EBGaramond&display=swap");
/* Global styles */
.window-app {
  font-family: "EBGaramond", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #d44d54;
  text-shadow: 0 0 10px #eea3a3;
  cursor: url("../ui/dice/d20-red.svg") 32 24, pointer;
}

.color-white {
  color: white;
}

#logo {
  content: url("../ui/cthack-logo.webp");
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

#pause > img {
  content: url("../ui/cthack-logo.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

.character-resume {
  text-align: center;
}

.character-resume .adrenaline-img {
  height: 25px;
  width: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptextleft {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -25px;
}

.tooltip .tooltiptextright {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -85px;
}

.tooltip:hover .tooltiptextleft,
.tooltip:hover .tooltiptextright {
  visibility: visible;
}

div.tip .tip-title {
  color: #E77600 !important;
  font-weight: bold;
}

label em {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  font-size: var(--font-size-14);
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

label:hover em {
  visibility: visible;
}

.chat-message .message-header .message-sender {
  font-weight: bold;
}

.grid,
.grid-2col {
  display: -ms-grid;
  display: grid;
  grid-column: span 2 / span 2;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  -ms-grid-columns: (minmax(0, 1fr))[5];
      grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  -ms-grid-columns: (minmax(0, 1fr))[5];
      grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  -ms-grid-columns: (minmax(0, 1fr))[7];
      grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  -ms-grid-columns: (minmax(0, 1fr))[8];
      grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  -ms-grid-columns: (minmax(0, 1fr))[9];
      grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  -ms-grid-columns: (minmax(0, 1fr))[10];
      grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  -ms-grid-columns: (minmax(0, 1fr))[11];
      grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}

.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}

.chat-save-roll-title {
  font-weight: 400;
}

.chat-save-roll {
  font-family: 'Averia Libre', cursive;
  background-image: url("../ui/fiche-milieu.png");
  background-size: cover;
  color: #fff;
}

.chat-resource-roll-title {
  font-weight: 400;
}

.chat-resource-roll {
  font-family: 'Averia Libre', cursive;
  background-image: url("../ui/fiche-milieu.png");
  background-size: cover;
  color: #fff;
}

.chat-other-roll-title {
  font-weight: 400;
}

.chat-other-roll {
  font-family: 'Averia Libre', cursive;
  background-image: url("../ui/fiche-milieu.png");
  background-size: cover;
  color: #fff;
}

.roll-failure {
  color: red;
}

.roll-success {
  color: green;
}

/* Styles limited to cthack sheets */
.cthack .window-content {
  background-image: url("../ui/sheet.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.cthack .align-left {
  text-align: left;
}

.cthack .align-right {
  text-align: right;
}

.cthack .align-center {
  text-align: center;
  vertical-align: middle;
}

.cthack .noborder {
  border: 0;
}

.cthack input[type="text"],
.cthack input[type="number"],
.cthack input[type="password"],
.cthack input[type="date"],
.cthack input[type="time"] {
  color: #fff;
}

.cthack input[type="checkbox"] {
  height: 12px;
  width: 12px;
}

.cthack select {
  border: none;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  font-weight: 800;
}

.cthack option {
  color: #fff;
  background: #37372d;
}

.cthack option:checked, .cthack option:hover {
  color: #fff;
  background: #37372d;
}

.cthack ::-webkit-scrollbar {
  display: none;
}

.cthack nav.sheet-tabs {
  height: 40px;
  border-top: 0;
  border-bottom: 0;
}

.cthack .cadre {
  background-image: url("../ui/cadre.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  height: 50px;
  border: none;
  color: #fff;
}

.cthack .attack-damage {
  width: 75px;
  text-align: center;
}

.cthack .item-form {
  color: #fff;
}

.cthack .sheet-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cthack .sheet-header .profile-img {
  height: calc(100%/5);
  width: auto;
  margin: 0;
}

.cthack .sheet-header .opponent-img {
  height: calc(100%/10);
  width: auto;
  margin: 0;
}

.cthack .sheet-header .adrenaline-img {
  height: 30px;
  width: auto;
}

.cthack .sheet-header .archetype-img {
  height: auto;
  width: 128px;
}

.cthack .sheet-header .definition-img {
  height: auto;
  width: 50px;
}

.cthack .sheet-header .header-fields {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.cthack .sheet-header h1.charname {
  height: 50px;
  padding: 0px 20px 0px 20px;
  margin: 5px 0;
  border-bottom: 0;
}

.cthack .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cthack .sheet-tabs {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-size: var(--font-size-18);
}

.cthack .tox .tox-editor-container {
  background: #fff;
}

.cthack .tox .tox-edit-area {
  padding: 0 8px;
}

.cthack .sheet-body {
  height: 100%;
  min-height: 150px;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}

.cthack .sheet-body .tab {
  min-height: 150px;
  height: 100%;
}

.cthack .sheet-body .tab .editor {
  min-height: 150px;
  height: 100%;
}

.cthack .tabs {
  height: 40px;
}

.cthack .tabs .choice {
  line-height: 40px;
  font-weight: bold;
}

.cthack .tabs .choice.active {
  color: darkgrey;
  font-weight: bold;
  text-shadow: 0 0 10px #851016;
}

.cthack .resource-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-16);
}

.cthack .resource-content {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 5px;
}

.cthack .saves {
  padding-left: 100px;
  padding-right: 100px;
}

.cthack .save {
  font-size: var(--font-size-16);
}

.cthack .save-name {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.cthack input.save {
  color: #fff;
}

.cthack .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cthack .items-list div {
  text-align: center;
  vertical-align: middle;
}

.cthack .items-list .item-header {
  line-height: 25px;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid white;
  font-size: var(--font-size-16);
}

.cthack .items-list .item-header .item-header-name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: left;
  vertical-align: middle;
}

.cthack .items-list .item {
  line-height: 25px;
  padding: 0 5px 0 5px;
}

.cthack .items-list .item:hover {
  /* darkgrey version
      color: darkgrey;
      font-weight: bold;
      text-shadow: 0 0 10px #851016;
      */
  background-color: darkolivegreen;
}

.cthack .items-list .item .item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  padding-top: 5px;
  margin-right: 5px;
}

.cthack .items-list .item .item-name {
  padding-top: 10px;
  text-align: left;
}

.cthack .items-list .item .item-element {
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
}

.cthack .items-list .item .item-element-text {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}

.cthack .items-list .item-bloc {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0;
}

.cthack .items-list .item-name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0;
  padding-top: 10px;
}

.cthack .items-list .item-controls-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86px;
          flex: 0 0 86px;
  text-align: right;
}

.cthack .items-list .item-controls {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86px;
          flex: 0 0 86px;
  text-align: right;
  padding-top: 10px;
}

.cthack .items-list .item-summary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #c9c7b8;
}

.cthack .items-list .item-condition {
  padding-top: 5px;
}

.cthack .sheet-header .item-image {
  min-height: 128px;
  width: auto;
}

.cthack .sheet-header .item-name {
  margin: 0 10px 0 10px;
}

.cthack .item-item {
  padding-left: 15px;
}

.cthack .item-item label {
  margin-right: 10px;
}

.cthack .sheet-actor {
  margin: 10px 20px;
}

.cthack .occupation, .cthack .archetype, .cthack .save, .cthack .resource {
  border: none;
}

.cthack .character-notes {
  color: #fff;
}

.cthack .input-hitpoints {
  border-style: none;
  font-size: 16px;
}

.cthack .occupation {
  padding-right: 15px;
}

.cthack .occupation-input {
  font-size: var(--font-size-16);
}

.cthack .hitpoints {
  padding-left: calc(100%/4);
  padding-right: calc(100%/4);
}

.cthack .hitpoints-cadre {
  background-image: url("../ui/cadre.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  border: none;
  color: #fff;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.cthack .sheet-opponent {
  margin: 10px 20px;
}

.cthack .sheet-opponent .charname {
  border: 0;
}

.cthack .sheet-opponent .flexrow {
  border: 0;
}

.cthack .sheet-opponent label {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.cthack .sheet-archetype .sheet-body {
  height: 400px;
}

.cthack .sheet-archetype select {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  text-align-last: center;
}
