@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/EBGaramond-VariableFont_wght.ttf");
}
.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Global styles */
.window-app {
  font-family: 'EBGaramond', sans-serif;
}
.window-app .window-content {
  background-image: url("../ui/background-white.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.window-app .window-content .compendium.directory .directory-list .directory-item {
  border: none;
}
.window-app .window-content .compendium.directory .directory-list .directory-item:hover {
  background-color: #59564c;
  color: #ffffff;
}
.rollable:hover,
.rollable:focus {
  color: #d44d54;
  text-shadow: 0 0 10px #eea3a3;
  cursor: url("../ui/dice/d20-red.svg") 32 24, pointer;
}
#logo {
  content: url("../ui/cthack-logo.webp");
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
#pause > img {
  content: url("../ui/cthack-logo.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}
.chat-message .message-header .message-sender {
  font-weight: bold;
}
#tooltip.tooltip-save {
  max-width: 500px;
  text-align: left;
}
i.cthack {
  width: 36px;
  height: 36px;
  background-image: url(../ui/cthack-logo.webp);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  filter: grayscale(1);
  transition: 0.3s;
}
a.inline-roll {
  background: none;
  border: 1px solid white;
}
.roll-failure {
  color: red;
}
.roll-success {
  color: green;
}
.chat-message .message-content .chat-save-roll,
.chat-message .message-content .chat-resource-roll,
.chat-message .message-content .chat-other-roll {
  padding: 5px;
}
.chat-message .message-content {
  background-image: url(../ui/cthack-green.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: 0 5px 0 5px;
}
/* App styles*/
#gm-manager {
  font-size: var(--font-size-18);
}
.character-resume {
  text-align: center;
}
.character-resume .adrenaline-img {
  height: 25px;
  width: 25px;
}
/* Styles limited to cthack sheets */
.cthack .window-content {
  background-image: url("../ui/sheet.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: var(--font-size-20);
  scrollbar-width: thin;
}
.cthack .item-line:hover {
  background-color: #59564c;
  color: #ffffff;
}
.cthack .input-small,
.cthack .select-small {
  width: 50px;
}
.cthack .input-large,
.cthack .select-large {
  width: 100px;
}
.cthack .input-extralarge,
.cthack .select-extralarge {
  width: 150px;
}
.cthack input[type="text"],
.cthack input[type="number"],
.cthack input[type="password"],
.cthack input[type="date"],
.cthack input[type="time"] {
  color: #fff;
}
.cthack input[type="text"] {
  border: none;
}
.cthack select {
  border: none;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  font-weight: 800;
  color: #fff;
}
.cthack select:disabled {
  opacity: 1;
}
.cthack option {
  color: #fff;
  background: #37372d;
}
.cthack option:checked,
.cthack option:hover {
  color: #fff;
  background: #37372d;
}
.cthack ::-webkit-scrollbar {
  display: none;
}
.cthack .ask-roll-title .fa-dice-d20 {
  padding-right: 5px;
  padding-left: 5px;
}
.cthack .cthack.sheet.actor a.inline-roll,
.cthack .cthack.sheet.item a.inline-roll {
  color: black;
}
.cthack.sheet.actor.character {
  min-width: 960px;
}
.cthack.sheet.actor.character select {
  color: black;
}
.cthack.sheet.actor.character .no-dice {
  color: white;
}
.cthack.sheet.actor.character .dice-d4 {
  background-image: url("systems/cthack/ui/dice/d4-grey.svg");
}
.cthack.sheet.actor.character .dice-d6 {
  background-image: url("systems/cthack/ui/dice/d6-grey.svg");
}
.cthack.sheet.actor.character .dice-d8 {
  background-image: url("systems/cthack/ui/dice/d8-grey.svg");
}
.cthack.sheet.actor.character .dice-d10 {
  background-image: url("systems/cthack/ui/dice/d10-grey.svg");
}
.cthack.sheet.actor.character .dice-d12 {
  background-image: url("systems/cthack/ui/dice/d12-grey.svg");
}
.cthack.sheet.actor.character nav#context-menu {
  text-align: left;
  width: 100px;
}
.cthack.sheet.actor.character nav.sheet-tabs {
  flex: 0;
}
.cthack.sheet.actor.character nav.sheet-tabs .choice {
  line-height: 40px;
  font-weight: bold;
}
.cthack.sheet.actor.character nav.sheet-tabs .choice.active {
  color: darkgrey;
  font-weight: bold;
  text-shadow: 0 0 10px #851016;
}
.cthack.sheet.actor.character .sidebar {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 0 20px;
  padding: 0 0 0 10px;
  flex: 180px 0 0;
  height: 400px;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}
.cthack.sheet.actor.character .sidebar .image-container {
  border: 1px solid var(--color-border-dark);
  height: 225px;
}
.cthack.sheet.actor.character .sidebar .image-container img.actor-image {
  border: none;
  min-width: 150px;
  border-radius: 10px;
}
.cthack.sheet.actor.character .sidebar .image-container .hover-icon {
  visibility: hidden;
  position: absolute;
  top: 70px;
  left: 45px;
  font-size: var(--font-size-16);
}
.cthack.sheet.actor.character .sidebar .image-container:hover .hover-icon {
  visibility: visible;
}
.cthack.sheet.actor.character .sidebar .sidebar-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
}
.cthack.sheet.actor.character .sidebar .sidebar-section .save-value {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}
.cthack.sheet.actor.character .sidebar .sidebar-section .save-value {
  flex: 2;
  text-align: right;
}
.cthack.sheet.actor.character .sidebar .fortune {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.cthack.sheet.actor.character .sidebar .adrenaline {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.cthack.sheet.actor.character .sidebar .adrenaline .adrenaline-img {
  height: 30px;
  width: 30px;
}
.cthack.sheet.actor.character .sidebar .conditions {
  display: flex;
  flex-direction: column ;
  margin-top: 10px;
}
.cthack.sheet.actor.character .sidebar .conditions .conditions-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.character .sidebar .conditions .items-list {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.character .sidebar .conditions .items-list .item-line {
  display: grid;
  grid-template-columns: 1fr;
}
.cthack.sheet.actor.character .sidebar .conditions .items-list .item-line .item-name-img {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sidebar .conditions .items-list .item-line .item-name-img img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}
.cthack.sheet.actor.character .sidebar .conditions .items-list .item-line .has-description {
  font-style: italic;
}
.cthack.sheet.actor.character .sidebar .conditions .items-list .item-summary {
  font-size: 0.9em;
}
.cthack.sheet.actor.character .main {
  margin: 30px 20px 0 0;
  padding: 0 10px 10px 0;
  min-width: 550px;
}
.cthack.sheet.actor.character .main .sheet-body {
  width: 100%;
  padding: 0 10px 0 10px;
}
.cthack.sheet.actor.character .main .sheet-body .tab {
  width: 100%;
}
.cthack.sheet.actor.character .character-sheet-header {
  max-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cthack.sheet.actor.character .character-sheet-header .name {
  margin-left: 10px;
  font-size: 1.3em;
}
.cthack.sheet.actor.character .character-sheet-header .header-occupation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cthack.sheet.actor.character .character-sheet-header .header-occupation .occupation-archetype {
  text-align: left;
}
.cthack.sheet.actor.character .character-sheet-header .occupation {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
}
.cthack.sheet.actor.character .character-sheet-header .occupation label {
  margin-left: 20px;
  margin-right: 20px;
}
.cthack.sheet.actor.character .character-sheet-header .occupation input {
  border: 1px solid;
  width: 250px;
}
.cthack.sheet.actor.character .character-sheet-header .archetype {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
}
.cthack.sheet.actor.character .character-sheet-header .archetype label {
  margin-right: 20px;
}
.cthack.sheet.actor.character .character-sheet-header .archetype input {
  border: 1px solid;
  width: 250px;
}
.cthack.sheet.actor.character .character-sheet-header .short-description {
  grid-column-start: 1;
  grid-column-end: 3;
  font-style: italic;
  padding-left: 50px;
}
.cthack.sheet.actor.character .character-sheet-header .short-description-editable {
  border: 1px solid;
  grid-column-start: 1;
  grid-column-end: 3;
}
.cthack.sheet.actor.character .character-sheet-header .resources {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 5px 0 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
}
.cthack.sheet.actor.character .character-sheet-header .resources-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.cthack.sheet.actor.character .character-sheet-header .resources-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cthack.sheet.actor.character .character-sheet-header .resources-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cthack.sheet.actor.character .character-sheet-header .fight {
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.cthack.sheet.actor.character .character-sheet-header .resource {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.cthack.sheet.actor.character .character-sheet-header .resource .resource-content {
  padding: 5px 0 5px 0;
}
.cthack.sheet.actor.character .character-sheet-header .resource .hitpoints input {
  height: 40px;
}
.cthack.sheet.actor.character .character-sheet-header .resource .hitpoints .hitpoints-value {
  text-align: right;
}
.cthack.sheet.actor.character .character-sheet-header .resource .hitpoints .hitpoints-max {
  text-align: left;
}
.cthack.sheet.actor.character .character-sheet-header .resource-value {
  color: black;
  text-shadow: 0 0 10px red;
}
.cthack.sheet.actor.character nav.sheet-tabs {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 40px;
  border-top: 0;
  border-bottom: 1px solid white;
  margin-top: 10px;
}
.cthack.sheet.actor.character nav.sheet-tabs .choice {
  font-weight: normal;
}
.cthack.sheet.actor.character nav.sheet-tabs .choice.active {
  color: white;
  font-weight: bold;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 10px 10px 0 0;
  padding: 0 5px 0 5px;
  text-shadow: 0 0 10px red;
}
.cthack.sheet.actor.character .sheet-body .editor {
  min-height: 150px;
}
.cthack.sheet.actor.character .sheet-body .editor-container {
  flex: 1;
  position: relative;
  margin: 0;
  min-height: 200px;
}
.cthack.sheet.actor.character .sheet-body .editor-content {
  margin: 0px 5px;
  font-weight: normal;
  font-size: var(--font-size-18);
}
.cthack.sheet.actor.character .sheet-body .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.actor.character .sheet-body .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.actor.character .sheet-body .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.actor.character .sheet-body .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.actor.character .sheet-body .equipment {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-line {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-line .item-name-img {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-line .item-name-img img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-line .item-dice {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-line .item-range {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-line .has-description {
  font-style: italic;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-description {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}
.cthack.sheet.actor.character .sheet-body .equipment .items-list .item-summary {
  font-size: 0.9em;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .abilities {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .abilities .title {
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .abilities .title a {
  padding-left: 10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .magics {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .magics .title {
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .magics .title a {
  padding-left: 10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-abilities {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding-left: 10px;
  align-items: center;
  font-size: var(--font-size-16);
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-abilities .item-line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 40px;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-abilities .item-line .item-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-abilities .item-line .item-name img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-abilities .item-line .item-use {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-abilities .item-line .item-use-last {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-abilities .has-description {
  font-style: italic;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding-left: 10px;
  align-items: center;
  font-size: var(--font-size-16);
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics .item-line {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  height: 40px;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics .item-line select {
  height: 40px;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics .item-line .item-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics .item-line .item-name img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics .item-line .item-subtype {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics .item-line .item-incantation {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.character .sheet-body .abilities-magic .grid-magics .has-description {
  font-style: italic;
}
.cthack.sheet.actor.opponent {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.opponent #context-menu {
  width: 50px;
  text-align: left;
}
.cthack.sheet.actor.opponent .sheet-header {
  display: grid;
}
.cthack.sheet.actor.opponent .sheet-header.grid-image {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
}
.cthack.sheet.actor.opponent .sheet-header.grid-image .character {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 6;
}
.cthack.sheet.actor.opponent .sheet-header.grid-image .short-description {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 6;
}
.cthack.sheet.actor.opponent .sheet-header.grid-image .hitdice {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.cthack.sheet.actor.opponent .sheet-header.grid-image .hp {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.cthack.sheet.actor.opponent .sheet-header.grid-image .armor {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}
.cthack.sheet.actor.opponent .sheet-header.grid-image .malus {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;
}
.cthack.sheet.actor.opponent .sheet-header.grid-noimage {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cthack.sheet.actor.opponent .sheet-header.grid-noimage .character {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}
.cthack.sheet.actor.opponent .sheet-header.grid-noimage .short-description {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}
.cthack.sheet.actor.opponent .sheet-header.grid-noimage .hitdice {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cthack.sheet.actor.opponent .sheet-header.grid-noimage .hp {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.cthack.sheet.actor.opponent .sheet-header.grid-noimage .armor {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.cthack.sheet.actor.opponent .sheet-header.grid-noimage .malus {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}
.cthack.sheet.actor.opponent .sheet-header .opponent-image {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  text-align: center;
}
.cthack.sheet.actor.opponent .sheet-header .opponent-image img.actor-image {
  border: none;
  height: 200px;
  min-width: 200px;
  border-radius: 10px;
}
.cthack.sheet.actor.opponent .sheet-header .opponent-image .hover-icon {
  visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  font-size: var(--font-size-16);
}
.cthack.sheet.actor.opponent .sheet-header .opponent-image:hover .hover-icon {
  visibility: visible;
}
.cthack.sheet.actor.opponent .sheet-header .sheet-lock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  font-size: 0.8em;
}
.cthack.sheet.actor.opponent .sheet-header .character {
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 5px 0 5px 0;
  margin-right: 20px;
}
.cthack.sheet.actor.opponent .sheet-header .data-group {
  border: none;
  font-size: 1rem;
}
.cthack.sheet.actor.opponent .sheet-header .data-group label {
  padding-right: 5px;
}
.cthack.sheet.actor.opponent .sheet-header .data-group .input-editable {
  border: 1px solid #782e22;
  width: 30px;
  text-align: center;
}
.cthack.sheet.actor.opponent .sheet-header .short-description {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0 10px 0;
  font-style: italic;
}
.cthack.sheet.actor.opponent .sheet-header .short-description .input-editable {
  border: 1px solid #782e22;
  margin-right: 20px;
}
.cthack.sheet.actor.opponent .sheet-header .hitdice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-header .hitdice select {
  color: #fff;
}
.cthack.sheet.actor.opponent .sheet-header .hitdice .selectHitDice {
  border: 1px solid #782e22;
  width: 30px;
  height: var(--form-field-height);
  text-align: center;
}
.cthack.sheet.actor.opponent .sheet-header .hp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-header .hp .hp-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-header .hp .hp-input .hp-max {
  width: 30px;
  text-align: center;
}
.cthack.sheet.actor.opponent .sheet-header .armor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-header .armor input {
  width: 20px;
}
.cthack.sheet.actor.opponent .sheet-header .malus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-header .malus label {
  text-transform: lowercase;
}
.cthack.sheet.actor.opponent .sheet-header .malus label::first-letter {
  text-transform: uppercase;
}
.cthack.sheet.actor.opponent .sheet-header .malus input {
  width: 20px;
}
.cthack.sheet.actor.opponent .sheet-body {
  height: 100%;
  min-height: 0;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable {
  border: none;
  font-size: 1rem;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable .title {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 0 10px 0;
  text-align: center;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable .editor {
  min-height: 150px;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable .editor-content {
  min-height: 100px;
  height: auto;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.actor.opponent .sheet-body .description-editable .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.actor.opponent .sheet-body .description {
  padding: 0 10px 0 10px;
}
.cthack.sheet.actor.opponent .sheet-body .attacks {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.opponent .sheet-body .attacks .title {
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .attacks .title a {
  padding-left: 10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .attacks .grid-attacks {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding-left: 10px;
  align-items: center;
  font-size: var(--font-size-16);
}
.cthack.sheet.actor.opponent .sheet-body .attacks .grid-attacks .item-line {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 40px;
}
.cthack.sheet.actor.opponent .sheet-body .attacks .grid-attacks .item-line .item-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .attacks .grid-attacks .item-line .item-name img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}
.cthack.sheet.actor.opponent .sheet-body .attacks .grid-attacks .item-line .item-details {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .attacks .grid-attacks .has-description {
  font-style: italic;
}
.cthack.sheet.actor.opponent .sheet-body .magics {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.opponent .sheet-body .magics .title {
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .magics .title a {
  padding-left: 10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding-left: 10px;
  align-items: center;
  font-size: var(--font-size-16);
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics .item-line {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  height: 40px;
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics .item-line .item-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics .item-line .item-name img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics .item-line .item-subtype {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics .item-line .item-dice {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics .item-line .item-incantation {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .magics .grid-magics .has-description {
  font-style: italic;
}
.cthack.sheet.actor.opponent .sheet-body .abilities {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.actor.opponent .sheet-body .abilities .title {
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .abilities .title a {
  padding-left: 10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .abilities .grid-opponent-abilities {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding-left: 10px;
  align-items: center;
  font-size: var(--font-size-16);
}
.cthack.sheet.actor.opponent .sheet-body .abilities .grid-opponent-abilities .item-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40px;
}
.cthack.sheet.actor.opponent .sheet-body .abilities .grid-opponent-abilities .item-line .item-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .abilities .grid-opponent-abilities .item-line .item-name img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}
.cthack.sheet.actor.opponent .sheet-body .abilities .grid-opponent-abilities .item-line .item-details {
  display: flex;
  align-items: center;
}
.cthack.sheet.actor.opponent .sheet-body .abilities .grid-opponent-abilities .has-description {
  font-style: italic;
}
.cthack.sheet.item.archetype .editable input,
.cthack.sheet.item.archetype .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.archetype .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.archetype .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.archetype .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.archetype .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.archetype .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.archetype .archetype-body-header {
  display: flex;
  grid-gap: 10px;
  padding: 0 20px 0 20px;
}
.cthack.sheet.item.archetype .archetype-body-header img {
  height: 350px;
  width: 150px;
}
.cthack.sheet.item.archetype .archetype-body-header-right {
  display: flex;
  flex-direction: column;
}
.cthack.sheet.item.archetype .archetype-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.cthack.sheet.item.archetype .archetype-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.archetype .archetype-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.archetype .archetype-grid .data-group input,
.cthack.sheet.item.archetype .archetype-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.archetype .archetype-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.archetype .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.archetype .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.archetype .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.archetype .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.archetype .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.archetype .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.archetype .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.archetype .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.archetype .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.item.archetype .data-group .select-dice {
  color: black;
}
.cthack.sheet.item.archetype .data-group .wealth-start {
  width: 80px;
}
.cthack.sheet.item.magic .editable input,
.cthack.sheet.item.magic .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.magic .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.magic .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.magic .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.magic .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.magic .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.magic .magic-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.cthack.sheet.item.magic .magic-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.magic .magic-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.magic .magic-grid .data-group input,
.cthack.sheet.item.magic .magic-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.magic .magic-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.magic .magic-grid .select-subtype {
  min-width: 80px;
  font-size: 1rem;
  color: #fff;
  opacity: 1;
}
.cthack.sheet.item.magic .magic-grid .select-sanitation {
  color: #111;
}
.cthack.sheet.item.magic .magic-grid .select-sanitation .select:disabled {
  color: #111;
  opacity: 1;
}
.cthack.sheet.item.magic .magic-grid .input-incantation {
  min-width: 100px;
  font-size: 1rem;
  height: 40px;
}
.cthack.sheet.item.magic .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.magic .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.magic .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.magic .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.magic .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.magic .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.magic .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.magic .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.magic .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.item.ability .editable input,
.cthack.sheet.item.ability .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.ability .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.ability .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.ability .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.ability .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.ability .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.ability .ability-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  grid-gap: 10px;
}
.cthack.sheet.item.ability .ability-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.ability .ability-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.ability .ability-grid .data-group input,
.cthack.sheet.item.ability .ability-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.ability .ability-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.ability .ability-grid .select-usage {
  min-width: 100px;
  font-size: 1rem;
  color: #fff;
  opacity: 1;
}
.cthack.sheet.item.ability .ability-grid .readonly {
  border: none;
}
.cthack.sheet.item.ability .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.ability .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.ability .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.ability .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.ability .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.ability .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.ability .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.ability .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.ability .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.item.item .editable input,
.cthack.sheet.item.item .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.item .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.item .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.item .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.item .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.item .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.item .item-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.cthack.sheet.item.item .item-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.item .item-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.item .item-grid .data-group input,
.cthack.sheet.item.item .item-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.item .item-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.item .item-grid .select-dice-material {
  color: #111;
}
.cthack.sheet.item.item .item-grid .select-dice-material .select:disabled {
  color: #111;
  opacity: 1;
}
.cthack.sheet.item.item .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.item .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.item .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.item .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.item .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.item .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.item .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.item .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.item .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.item.definition .editable input,
.cthack.sheet.item.definition .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.definition .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.definition .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.definition .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.definition .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.definition .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.definition .definition-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.cthack.sheet.item.definition .definition-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.definition .definition-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.definition .definition-grid .data-group input,
.cthack.sheet.item.definition .definition-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.definition .definition-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.definition .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.definition .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.definition .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.definition .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.definition .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.definition .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.definition .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.definition .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.definition .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.item.weapon .editable input,
.cthack.sheet.item.weapon .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.weapon .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.weapon .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.weapon .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.weapon .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.weapon .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.weapon .weapon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.cthack.sheet.item.weapon .weapon-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.weapon .weapon-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.weapon .weapon-grid .data-group input,
.cthack.sheet.item.weapon .weapon-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.weapon .weapon-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.weapon .weapon-grid .select-dice-material {
  color: #fff;
  opacity: inherit;
}
.cthack.sheet.item.weapon .weapon-grid .select-range {
  min-width: 80px;
  color: #fff;
  opacity: 1;
}
.cthack.sheet.item.weapon .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.weapon .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.weapon .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.weapon .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.weapon .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.weapon .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.weapon .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.weapon .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.weapon .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.item.attack .editable input,
.cthack.sheet.item.attack .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.attack .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.attack .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.attack .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.attack .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.attack .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.attack .attack-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  padding: 0;
}
.cthack.sheet.item.attack .attack-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.attack .attack-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.attack .attack-grid .data-group input,
.cthack.sheet.item.attack .attack-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.attack .attack-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.attack .attack-grid .field-name {
  height: 40px;
}
.cthack.sheet.item.attack .attack-grid .input-damage {
  color: #fff;
  opacity: inherit;
}
.cthack.sheet.item.attack .attack-grid .select-damageDice {
  min-width: 80px;
  color: #fff;
  opacity: 1;
}
.cthack.sheet.item.attack .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.attack .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.attack .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.attack .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.attack .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.attack .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.attack .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.attack .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.attack .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack.sheet.item.opponentAbility .editable input,
.cthack.sheet.item.opponentAbility .editable select {
  border: 1px solid #782e22;
}
.cthack.sheet.item.opponentAbility .item-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.opponentAbility .item-header img {
  border: 0px;
  max-height: 50px;
}
.cthack.sheet.item.opponentAbility .item-header input {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  padding: 0;
  color: #fff;
}
.cthack.sheet.item.opponentAbility .item-header .name {
  width: 20rem;
  font-size: 1.2rem;
  text-align: left;
  border: 0px;
  margin: 10px 0 0 10px;
  color: #fff;
}
.cthack.sheet.item.opponentAbility .item-header .sheet-lock {
  margin-left: auto;
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.opponentAbility .ability-body {
  padding: 0 10px 0 10px;
}
.cthack.sheet.item.opponentAbility .ability-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  grid-gap: 10px;
}
.cthack.sheet.item.opponentAbility .ability-grid .data-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cthack.sheet.item.opponentAbility .ability-grid .data-group .field-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cthack.sheet.item.opponentAbility .ability-grid .data-group input,
.cthack.sheet.item.opponentAbility .ability-grid .data-group select {
  height: 40px;
  padding: 0;
}
.cthack.sheet.item.opponentAbility .ability-grid .data-group input[type="checkbox"] {
  flex: none;
}
.cthack.sheet.item.opponentAbility .ability-grid .field-name {
  height: 40px;
}
.cthack.sheet.item.opponentAbility .ability-grid .select-usage {
  min-width: 100px;
  font-size: 1rem;
  color: #fff;
  opacity: 1;
}
.cthack.sheet.item.opponentAbility .ability-grid .readonly {
  border: none;
}
.cthack.sheet.item.opponentAbility .item-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  font-size: var(--font-size-16);
}
.cthack.sheet.item.opponentAbility .item-description .description {
  text-align: center;
  text-transform: uppercase;
}
.cthack.sheet.item.opponentAbility .item-description .description-content {
  text-align: justify;
}
.cthack.sheet.item.opponentAbility .item-description .editor {
  min-height: 200px;
  scrollbar-width: thin;
}
.cthack.sheet.item.opponentAbility .item-description .editor .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.cthack.sheet.item.opponentAbility .item-description .editor .prosemirror menu {
  font-size: 0.8em;
}
.cthack.sheet.item.opponentAbility .item-description .editor .prosemirror menu li {
  margin: 0px 0px;
}
.cthack.sheet.item.opponentAbility .item-description .editor .prosemirror menu li:hover {
  border: 2px solid #eea3a3;
}
.cthack.sheet.item.opponentAbility .item-description .prosemirror menu button {
  background: var(--color-hover-bg);
}
.cthack .search-chat {
  padding: 0 0 5px 0;
}
.cthack .search-chat h3 {
  padding-top: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.cthack .search-chat h4 {
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.cthack .search-chat a.content-link {
  background: none;
  margin: 5px 0 0 0;
  padding: 5px;
}
.cthack .search-chat .motif {
  padding-bottom: 5px;
}
.cthack .search-chat .search-header {
  padding-top: 10px;
}
.cthack .search-chat .search-result {
  padding: 5px 0 5px 0;
}
.cthack .search-dialog h3 {
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.cthack .search-dialog .dialog-buttons button {
  color: #fff;
}
.cthack .search-dialog input {
  border: 1px solid #6e0000;
  margin: 10px 0 10px 0;
}
