image: python:3-alpine

before_script:
  - apk update
  - apk add zip

stages:
  - test
  - build

test:
  stage: test
  script:
    - python -mjson.tool 'system.json' > /dev/null
    - python -mjson.tool 'template.json' > /dev/null

build:
  stage: build
  script:
    - zip foundryvtt-cthulhu-hack.zip -r *.js *.json *.md css lang module packs templates ui -x ".*"
  when: on_success
  only:
    - tags
    - main
