image: python:3-alpine

before_script:
  - apk update
  - apk add zip

stages:
  - test
  - build

test:
  stage: test
  script:
    - python -mjson.tool 'system.json' > /dev/null
    - python -mjson.tool 'template.json' > /dev/null

build:
  stage: build
  script:
    - zip foundryvtt-cthulhu-hack.zip -r *.js *.json *.md module styles templates -x ".*"
  artifacts:
    name: foundryvtt-cthulhu-hack
    when: on_success
    paths:
      - foundryvtt-cthulhu-hack.zip
  when: on_success
  only:
    - tags
    - main
