image: python:3-alpine

before_script:
  - apk update

stages:
  - build

test and create artifact:
  stage: build
  only:
    - tags
    - main
  script:
    - python -mjson.tool 'system.json' > /dev/null
    - python -mjson.tool 'template.json' > /dev/null
  artifacts:
    name: cthack
    paths:
      - css/
      - images/
      - lang/
      - module/
      - packs/
      - templates/
      - ui/
      - README.md
      - system.json
      - template.json
    when: on_success

  
