.dice-roll .dice-total.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
  }
  
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}

/*.chat-save-roll-title, .chat-resource-roll-title, .chat-other-roll-title  {
  font-weight: 400;
}*/

/*
.chat-save-roll, .chat-resource-roll, .chat-other-roll {
  font-family: 'Averia Libre', cursive;
  background-image: url("../ui/fiche-milieu.png");
  background-size: cover;
  color: #fff;
}*/

.roll-failure {
  color: red;
}

.roll-success {
  color: green;
}

.chat-message .message-content {
  background-image: url(../ui/cthack-green.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $c-white;
}