.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #d44d54;
    text-shadow: 0 0 10px rgb(238, 163, 163);
    cursor: url("../ui/dice/d20-red.svg") 32 24, pointer;
  }
}

.color-white {
  color: white;
}

#logo {
  content : url("../ui/cthack-logo.webp");
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

#pause > img {
  content: url("../ui/cthack-logo.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

.character-resume {
  text-align: center;
}

.character-resume .adrenaline-img {
  height: 25px;
  width: 25px;  
}