.window-app {
  font-family: $font-primary;
  .window-content {
    background-image: url("../ui/fond-blanc.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .compendium.directory .directory-list .directory-item {
      border: none;
      &:hover {
        background-color:#59564c;
        color: $c-white;
      }
    }
  }

}

.rollable {
  &:hover,
  &:focus {
    color: #d44d54;
    text-shadow: 0 0 10px rgb(238, 163, 163);
    cursor: url("../ui/dice/d20-red.svg") 32 24, pointer;
  }
}

.color-white {
  /*color: white;*/
  color: #dfe2d5;
}

#logo {
  content : url("../ui/cthack-logo.webp");
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

#pause > img {
  content: url("../ui/cthack-logo.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

.character-resume {
  text-align: center;
}

.character-resume .adrenaline-img {
  height: 25px;
  width: 25px;  
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptextleft {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: $padding-sm 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -25px;
}

.tooltip .tooltiptextright {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: $padding-sm 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -85px;
}

.tooltip:hover .tooltiptextleft,
.tooltip:hover .tooltiptextright {
  visibility: visible;
}

div.tip .tip-title {
  color: #E77600 !important;
  font-weight: bold;
}

label em {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: $padding-sm 0;
  font-size: var(--font-size-14);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

label:hover em {
  visibility: visible;
}

.chat-message .message-header .message-sender {
  font-weight: bold;
}