.roll-failure {
  color: red;
}

.roll-success {
  color: green;
}

.chat-message {
  .message-content .chat-save-roll,
  .message-content .chat-resource-roll,
  .message-content .chat-other-roll,
  .message-content .chat-save-roll-result,
  .message-content .chat-resource-roll-result,
  .message-content .chat-other-roll-result {
    padding: @padding-sm;
  }
  .message-content {
    background-image: url(../ui/cthack-green.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 0 5px 0 5px;
  }
  .message-content .chat-description {
    .name {
      display: flex;  
      align-items: center;
    }
    img {
      width: 30px;
      height: 30px;
      margin: 5px;
    }
  }
}
