.chat-message {
  .message-content .chat-save-roll,
  .message-content .chat-resource-roll,
  .message-content .chat-other-roll,
  .message-content .chat-save-roll-result,
  .message-content .chat-resource-roll-result,
  .message-content .chat-other-roll-result {
    padding: 5px;
  }
  .message-header .message-sender {
    font-weight: bold;
  }
  .message-content {
    background-image: var(--background-chat-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--font-color-primary);
    padding: 0 5px 0 5px;
  }
  .message-content .chat-description {
    .name {
      display: flex;
      align-items: center;
    }
    img {
      width: 30px;
      height: 30px;
      margin: 5px;
    }
  }
  .dice-result {
    .roll-failure {
      color: red;
    }

    .roll-success {
      color: green;
    }
  }
}
