.dice-roll .dice-total.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
  }
  
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}

.roll-failure {
  color: red;
}

.roll-success {
  color: green;
}

.chat-message {
  .message-content .chat-save-roll, .message-content .chat-resource-roll, .message-content .chat-other-roll {
    padding: @padding-sm;
  }
  .message-content {
    background-image: url(../ui/cthack-green.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: @c-white;
  }
  a.content-link {
    background: none;
  }
}