.window-app {
  font-family: @font-primary;
  .window-content {
    background-image: url("../ui/background-white.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .compendium.directory .directory-list .directory-item {
      border: none;
      &:hover {
        background-color:#59564c;
        color: #ffffff;
      }
    }
  }

}

.rollable {
  &:hover,
  &:focus {
    color: #d44d54;
    text-shadow: 0 0 10px rgb(238, 163, 163);
    cursor: url("../ui/dice/d20-red.svg") 32 24, pointer;
  }
}

#logo {
  content : url("../ui/cthack-logo.webp");
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

#pause > img {
  content: url("../ui/cthack-logo.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

.chat-message .message-header .message-sender {
  font-weight: bold;
}

#tooltip.tooltip-save {
  max-width: 500px;
  text-align: left;
}

i.cthack {
  width: 36px;
  height: 36px;
  background-image: url(../ui/cthack-logo.webp);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  filter: grayscale(1);
  transition: 0.3s;
}

a.inline-roll {
  background: none;
  border: 1px solid white;
}