&.sheet.item.attack {
  .item-common-header();
  .attack-grid {
    .item-common-grid(3);
    padding: 0;
    .field-name {
      height: 40px;;
    }
    .input-damage {
      color: var(--font-color-primary);
      opacity: inherit
    }
    .select-damageDice {
      min-width: 80px;
      color: var(--font-color-primary);
      opacity: 1;
    }
  }
  .item-common-description();
}
