&.sheet.actor.character {
  min-width: 960px;
  select {
    color: black;
  }

  .no-dice {
    color: white;
  }

  .dice-d4 {
    background-image: url("systems/cthack/ui/dice/d4-grey.svg");
  }

  .dice-d6 {
    background-image: url("systems/cthack/ui/dice/d6-grey.svg");
  }

  .dice-d8 {
    background-image: url("systems/cthack/ui/dice/d8-grey.svg");
  }

  .dice-d10 {
    background-image: url("systems/cthack/ui/dice/d10-grey.svg");
  }

  .dice-d12 {
    background-image: url("systems/cthack/ui/dice/d12-grey.svg");
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    margin: 30px 10px 0 20px;
    padding: 0 0 0 10px;
    flex: 180px 0 0;
    height: 400px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;

    .image-container {
      border: 1px solid var(--color-border-dark);
      height: 225px;
      img.actor-image {
        border: none;
        min-width: 150px;
        border-radius: 10px;
      }
      .hover-icon {
        visibility: hidden;
        position: absolute;
        top: 70px;
        left: 45px;
        font-size: var(--font-size-16);
      }
      &:hover {
        .hover-icon {
          visibility: visible;
        }
      }
    }

    .sidebar-section {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-top: 2px;

      .save-value {
        flex: 1;
        text-align: left;
        margin-right: 10px;
      }
      .save-value {
        flex: 2;
        text-align: right;
      }
    }

    .fortune {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .adrenaline {
      display: flex;
      justify-content: center;
      gap: 10px;
      .adrenaline-img {
        height: 30px;
        width: 30px;
      }
    }
    .conditions {
      display: flex;
      flex-direction: column ;
      margin-top: 10px;
      .conditions-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .items-list {
        display: flex;
        flex-direction: column;
        .item-line {
          display: grid;
          grid-template-columns: 1fr;
          .item-name-img {
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }
          }
          .has-description {
            font-style: italic;
          }
        }
        .item-summary {
          font-size: 0.9em;
        }
      }
    }
  }

  .main {
    margin: 30px 20px 0 0;
    padding: 0 10px 10px 0;
    min-width: 550px;
    .sheet-body {
      width: 100%;
      padding: 0 10px 0 10px;
      .tab {
        width: 100%;
      }
    }
  }

  .character-sheet-header {
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .name {
      margin-left: 10px;
      font-size: 1.3em;
    }
    .header-occupation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .occupation-archetype {
        text-align: left;
      }
    }
    .occupation {
      display: flex;
      flex-direction: row;
      padding: 10px 0 10px 0;
      label {
        margin-left: 20px;
        margin-right: 20px;
      }
      input {
        border: 1px solid;
        width: 250px;
      }
    }
    .archetype {
      display: flex;
      flex-direction: row;
      padding: 10px 0 10px 0;
      label {
        margin-right: 20px;
      }
      input {
        border: 1px solid;
        width: 250px;
      }
    }
    .short-description {
      grid-column-start: 1;
      grid-column-end: 3;
      font-style: italic;
      padding-left: 50px;
    }
    .short-description-editable {
      border: 1px solid;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .resources {
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 5px 0 5px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      border-radius: 10px;
    }
    .resources-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .resources-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .resources-5 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .fight {
      margin-top: 10px;
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
    .resource {
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: @padding-sm;
      .resource-content {
        padding: 5px 0 5px 0;
      }
      .hitpoints {
        input {
          height: 40px;
        }
        .hitpoints-value {
          text-align: right;
        }
        .hitpoints-max {
          text-align: left;
        }
      }
    }
    .resource-value {
      color: black;
      text-shadow: 0 0 10px red;
    }
  }

  nav {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 40px;
    border-bottom: 1px solid white;
    margin-top: 10px;
    .choice {
      font-weight: normal;
      &.active {
        color: white;
        font-weight: bold;
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-left: 1px solid white;
        border-radius: 10px 10px 0 0;
        padding: 0 5px 0 5px;
        text-shadow: 0 0 10px red;
      }
    }
  }

  .sheet-body {
    .editor {
      min-height: 150px;
    }

    .editor-container {
      flex: 1;
      position: relative;
      margin: 0;
      min-height: 200px;
    }

    .editor-content {
      margin: 0px 5px;
      font-weight: normal;
      font-size: var(--font-size-18);
    }

    .prosemirror menu {
      font-size: 0.8em;
      li {
        margin: 0px 0px;
        &:hover {
          border: 2px solid #eea3a3;
        }
      }
      button {
        background: var(--color-hover-bg);
      }
    }

    .equipment {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .items-list {
        display: flex;
        flex-direction: column;
        .item-line {
          display: grid;
          grid-template-columns: 2fr 1fr 2fr;
          .item-name-img {
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }
          }
          .item-dice {
            display: flex;
            align-items: center;
          }
          .item-range {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .has-description {
            font-style: italic;
          }
        }
        .item-description {
          display: flex;
          align-items: center;
          justify-content: left;
          text-align: left;
        }
        .item-summary {
          font-size: 0.9em;
        }
      }
    }

    .abilities-magic {
      display: grid;
      grid-template-columns: 1fr;

      .abilities {
        display: flex;
        flex-direction: column;
        .title {
          border: none;
          font-size: 1em;
          font-weight: bold;
          padding: 10px 0 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            padding-left: 10px;
            font-size: 0.8em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .magics {
        display: flex;
        flex-direction: column;
        .title {
          border: none;
          font-size: 1em;
          font-weight: bold;
          padding: 10px 0 10px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            padding-left: 10px;
            font-size: 0.8em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .entete-tableau {
        display: flex;
      }

      .grid-abilities {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding-left: 10px;
        align-items: center;
        font-size: var(--font-size-16);
        .item-line {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          height: 30px;
          .item-name {
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }
          }
          .item-use {
            display: flex;
            align-items: center;
          }
          .item-use-last {
            display: flex;
            align-items: center;
          }
        }
        .has-description {
          font-style: italic;
        }
      }

      .grid-magics {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding-left: 10px;
        align-items: center;
        font-size: var(--font-size-16);
        .item-line {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 1fr;
          height: 40px;
          select {
            height: 40px;
          }
          .item-name {
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }
          }
          .item-subtype {
            display: flex;
            align-items: center;
          }
          .item-incantation {
            display: flex;
            align-items: center;
          }
        }
        .has-description {
          font-style: italic;
        }
      }
    }
  }
}
