&.sheet.actor.character {
  min-width: 960px;

  select {
    color: black;
  }

  .rollable {
    &:hover,
    &:focus {
      color: var(--rollable-color);
      text-shadow: 0 0 10px rgb(238, 163, 163);
      cursor: url("../ui/dice/d20-red.svg") 32 24, pointer;
    }
  }

  .no-dice {
    color: white;
  }

  .dice-d4 {
    background-image: url("systems/cthack/ui/dice/d4-grey.svg");
  }

  .dice-d6 {
    background-image: url("systems/cthack/ui/dice/d6-grey.svg");
  }

  .dice-d8 {
    background-image: url("systems/cthack/ui/dice/d8-grey.svg");
  }

  .dice-d10 {
    background-image: url("systems/cthack/ui/dice/d10-grey.svg");
  }

  .dice-d12 {
    background-image: url("systems/cthack/ui/dice/d12-grey.svg");
  }

  nav {
    &#context-menu {
      text-align: left;
      width: auto;
    }
    &.sheet-tabs {
      flex: 0;
      border-top: 0;
      border-bottom: 1px solid var(--nav-active-color);
      margin: 10px 5px 0 5px;
      .choice {
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        &:hover {
          color: var(--nav-active-color);
          text-shadow: 0 0 10px var(--nav-active-shadow-color);
        }
        &.active {
          color: var(--nav-active-color);
          font-weight: bold;
          border-top: 1px solid var(--nav-active-color);
          border-right: 1px solid var(--nav-active-color);
          border-left: 1px solid var(--nav-active-color);
          border-radius: 10px 10px 0 0;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          padding: 0 5px 0 5px;
          text-shadow: 0 0 10px var(--nav-active-shadow-color);
        }
      }
    }
  }

  .sidebar {
    margin: 30px 10px 0 20px;
    padding: 0 10px 0 10px;
    flex: 220px 0 0;
    height: 400px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;

    .image-container {
      img.actor-image {
        border: none;
        min-width: 150px;
        border-radius: 10px;
      }
      .hover-icon {
        visibility: hidden;
        position: absolute;
        top: 70px;
        left: 45px;
        font-size: var(--font-size-16);
        color: black;
      }
      &:hover {
        .hover-icon {
          visibility: visible;
        }
      }
    }

    .sidebar-section {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-top: 2px;
      label {
        font-weight: bold;
        font-family: var(--font-secondary);
        //font-size: var(--font-size-24);
      }
      .save-value {
        flex: 1;
        text-align: left;
      }
      .save-value {
        flex: 2;
        text-align: right;
      }
    }

    .fortune {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .adrenaline {
      display: flex;
      justify-content: center;
      gap: 10px;
      .adrenaline-img {
        height: 30px;
        width: 30px;
      }
    }
    .conditions {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .conditions-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .items-list {
        display: flex;
        flex-direction: column;
        .item-line {
          display: grid;
          grid-template-columns: 1fr;
          .item-name-img {
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin: 0 5px 0 5px;
            }
          }
          .has-description {
            font-style: italic;
          }
        }
        .item-summary {
          font-size: 0.9em;
        }
      }
    }
  }

  .main {
    margin: 30px 0 0 0;
    padding: 0 10px 10px 0;
    min-width: 550px;
    .sheet-body {
      width: 100%;
      padding: 0 10px 0 10px;
      .tab {
        width: 100%;        
      }
    }
  }

  .character-sheet-header {
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .name {
      margin-left: 10px;
      font-size: var(--font-size-20);
      font-weight: bold;
    }
    .header-occupation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .occupation-archetype {
        text-align: left;
        //font-size: var(--font-size-20);
      }
    }
    .occupation {
      display: flex;
      flex-direction: row;
      padding: 10px 10px 10px 0;
      label {
        margin-left: 20px;
        margin-right: 10px;
      }
      input.occupation-name {
        border: 1px solid;
        width: 150px;
      }
      input.occupation-skills {
        border: 1px solid;
        width: 250px;
      }
    }
    .archetype {
      display: flex;
      flex-direction: row;
      padding: 10px 0 10px 0;
      label {
        margin-right: 20px;
      }
      input {
        border: 1px solid;
        width: 200px;
      }
    }
    .short-description {
      grid-column-start: 1;
      grid-column-end: 3;
      font-style: italic;
      padding-left: 50px;
    }
    .short-description-editable {
      border: 1px solid;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .resources {
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 5px 0 5px 0;
      display: grid;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      border-radius: 10px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }
    .resources-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .resources-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .resources-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .fight {
      margin-top: 10px;
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      border-radius: 10px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }
    .fight-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .fight-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .resource {
      font-weight: bold;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;
      label {
        font-family: var(--font-secondary);
        //font-size: var(--font-size-24);
      }
      .resource-content {
        padding: 5px 0 5px 0;
      }
      .hitpoints {
        display: flex;
        align-items: center; /* Aligne verticalement au centre */
        justify-content: center; /* Centrer horizontalement le contenu */
        gap: 5px; /* Ajoute un espace entre les éléments */
        input {
          height: 40px;
          width: 40px; /* Ajustez la largeur selon vos besoins */
          text-align: center; /* Centrer le texte dans l'input */
        }
        .hitpoints-value {
          text-align: right;
        }
        .hitpoints-max {
          text-align: left;
        }
      }
    }
    .resource-value {
      color: black;

      &.resource-value-lost {
        text-shadow: 0 0 10px red;
      }
    }
  }

  .sheet-body {
    .editor {
      min-height: 150px;
    }

    .editor-container {
      flex: 1;
      position: relative;
      margin: 0;
      min-height: 200px;
    }

    .editor-content {
      margin: 0px 5px;
      font-weight: normal;
      font-size: var(--font-size-20);
    }

    .prosemirror menu {
      font-size: 0.8em;
      li {
        margin: 0px 0px;
        &:hover {
          border: 2px solid #eea3a3;
        }
      }
      button {
        background: var(--color-hover-bg);
      }
    }

    .equipment {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .items-list {
        div.title {
          display: flex;
          justify-content: end;
          align-items: center;
          i {
            padding: 10px 20px 0 0;
            font-size: 1.2em;
          }
        }

        display: flex;
        flex-direction: column;
        .item-line {
          display: grid;
          &.weapon {
            grid-template-columns: 2fr 1fr 2fr;
          }
          &.other {
            grid-template-columns: 2fr 1fr;
          }
          .item-name-img {
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin: 0 5px 0 5px;
            }
          }
          .item-dice {
            display: flex;
            align-items: center;
          }
          .item-range {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .has-description {
            font-style: italic;
          }
        }
        .item-description {
          display: flex;
          align-items: center;
          justify-content: left;
          text-align: left;
        }
        .item-summary {
          font-size: 0.9em;
        }
      }
    }

    .abilities-magic {
      display: flex;
      flex-direction: column;

      .abilities {
        display: flex;
        flex-direction: column;
        .title {
          border: none;
          font-size: 1em;
          font-weight: bold;
          margin: 5px 0 5px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            padding-left: 10px;
            font-size: 0.8em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .magics {
        display: flex;
        flex-direction: column;
        .title {
          border: none;
          font-size: 1em;
          font-weight: bold;
          margin: 5px 0 5px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            padding-left: 10px;
            font-size: 0.8em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .grid-abilities {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding-left: 10px;
        align-items: center;
        font-size: var(--font-size-16);
        .item-line {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          height: 40px;
          .item-name {
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin: 0 5px 0 5px;
            }
          }
          .item-use {
            display: flex;
            align-items: center;
          }
          .item-use-last {
            display: flex;
            align-items: center;
          }
        }
        .has-description {
          font-style: italic;
        }
      }

      .grid-magics {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding-left: 10px;
        align-items: center;
        font-size: var(--font-size-16);
        .item-line {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 1fr;
          height: 40px;
          select {
            height: 40px;
          }
          .item-name {
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              margin: 0 5px 0 5px;
            }
          }
          .item-subtype {
            display: flex;
            align-items: center;
          }
          .item-incantation {
            display: flex;
            align-items: center;
          }
        }
        .has-description {
          font-style: italic;
        }
      }
    }
  }
}
