.sheet-actor {
  margin: 10px 20px;
}

.occupation, .archetype, .save, .resource {
  border: none;
}

.character-notes {
  color: #fff;
}

.input-hitpoints {
  border-style: none;
  font-size: 16px;
}
  
.occupation {
  padding-right: 15px;
  padding-bottom: @padding-md;
}

.occupation-input {
  font-size: var(--font-size-18);
}

.hitpoints {
  padding-left: calc(25%);
  padding-right: calc(25%);
}

.hitpoints-frame {
  background-image: url("../ui/frame.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  border: none;
  color: #fff;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

.saves {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: @padding-md;
}

.save {
  font-size: var(--font-size-16);
}
 
.save-name {
  flex-grow: 3;
}

input.save{
  color: @c-white;
}

.resource-label {
  text-transform: uppercase;
  font-size: var(--font-size-16);
}

.resource-content {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: @padding-sm;
}

.resource-content-archetype {
  margin: 0;
  padding: 0;

  select {
    color: @c-white;
  }
}
