&.sheet.actor.character-v2 {

  select {
    color: black;
  }

  .no-dice {
    color:white;
  }

  .dice-d4 {
    background-image: url('systems/cthack/ui/dice/d4-grey.svg');
  }

  .dice-d6 {
    background-image: url("systems/cthack/ui/dice/d6-grey.svg");
  }

  .dice-d8 {
    background-image: url("systems/cthack/ui/dice/d8-grey.svg");
  }

  .dice-d10 {
    background-image: url("systems/cthack/ui/dice/d10-grey.svg");
  }

  .dice-d12 {
    background-image: url("systems/cthack/ui/dice/d12-grey.svg");
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    margin: 30px 20px 0 20px;
    padding: 0 0 0 10px;
    flex: 180px 0 0;
    height: 400px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;

    .image-container {
      border: 1px solid var(--color-border-dark);
      height: 225px;
      img.actor-image {
        border: none;
        min-width: 150px;
        border-radius: 10px;
      }
      .hover-icon {
        visibility: hidden;
        position: absolute;
        top: 70px;
        left: 40px;
        font-size: var(--font-size-16);
      }
      &:hover {
        .hover-icon {
          visibility: visible;
        }
      }
    }

    .sidebar-section {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-top: 2px;

      .save-value {
        flex: 1;
        text-align: left;
        margin-right: 10px;
      }
      .save-value {
        flex: 2;
        text-align: right;
      }
    }
  }

  .main {
    margin: 30px 20px 0 0;
    padding: 0 20px 10px 0;
    .sheet-body {
      width: 100%;
      padding: 0 10px 0 10px;
      .tab {
        width: 100%;
      }
    }
  }

  .character-sheet-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .name {
      margin-left: 10px;
      font-size: 1.3em;;
    }
    .header-occupation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .occupation-archetype {
        text-align: left;
      }
    }
    .occupation {
      display: flex;
      flex-direction: row;
      padding: 10px 0 10px 0;
      label {
        margin-left: 20px;
        margin-right: 20px;
      }
      input {
        border: 1px solid;
        width: 250px;
      }
    }
    .archetype {
      display: flex;
      flex-direction: row;
      padding: 10px 0 10px 0;
      label {
        margin-right: 20px;
      }
      input {
        border: 1px solid;
        width: 250px;
      }
    }
    .short-description {
      grid-column-start: 1;
      grid-column-end: 3;
      font-style: italic;
      padding-left: 50px;
  }
    .short-description-editable {
        border: 1px solid;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .resources {
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 5px 0 5px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      border-radius: 10px;
    }
    .resources-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .resources-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .resources-5 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .fight {
      margin-top: 10px;
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
    .resource {
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: @padding-sm;
      .resource-content {
        padding: 5px 0 5px 0;
      }
      .hitpoints {
        input {
          height: 40px;
        }
        .hitpoints-value {
          text-align: right;
        }
        .hitpoints-max {
          text-align: left;
        }
      }
    }

    nav {
      grid-column-start: 1;
      grid-column-end: 3;
      height: 40px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      .choice {
        font-weight: normal;
      }
    }
  }
}
