.window-content {
  background: var(--background-standard);
  background-size: 100% 100%;
  color: var(--font-color-primary);
  font-size: var(--font-size-20);
}

.item-line:hover {
  background-color: var(--item-line-hover-background-color);
  color: var(--item-line-hover-color);
}

.input-small, .select-small {
  width: 50px;
}

.input-large, .select-large {
  width: 100px;
}

.input-extralarge, .select-extralarge {
  width: 150px;
}

