&.sheet.item.item {
  .item-common-header();
  .item-grid {
    .item-common-grid(1);
    .select-dice-material {
      color: #111;
      .select:disabled {
        color: #111;
        opacity: 1;
      }
    }
  }
  .item-common-description();
}
