&.sheet.item.magic {
  .item-common-header();
  .magic-grid {
    .item-common-grid(3);
    .select-subtype {
      min-width: 80px;
      font-size: 1rem;
      color: #fff;
      opacity: 1;
    }
    .select-sanitation {
      color: #111;
      .select:disabled {
        color: #111;
        opacity: 1;
      }
    }
    .input-incantation {
      min-width: 100px;
      font-size: 1rem;
      height: 40px;
    }
  }
  .item-common-description();
}
