.magic-sheet {
  .magic-title {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    input {
      width: 20rem;
      font-size: 1.2rem;
      text-align: left;
      border: 0px;
      margin: 20px 0 0 10px;
      color: #fff;
    }
    img {
      border: 0px;
      max-height: 50px;
    }
  }

  .magic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    .data-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .field-name {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }
    .select-subtype {
      min-width: 80px;
      font-size: 1rem;
      color: #fff;
    }
    .input-incantation {
      min-width: 100px;
      font-size: 1rem;
      height: 40px;
    }
  }
  .description-group {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 15px 10px;
    padding-top: 10px;
    font-size: var(--font-size-16);
    .description {
      text-align: center;
      text-transform: uppercase;
    }
    .description-content {
      text-align: justify;
    }
    .editor {
      min-height: 160px;
      scrollbar-width: thin;
    }
    .editor-content {
      min-height: 150px;
      margin: 0px 5px;
      font-weight: normal;
    }
    .prosemirror menu {
      font-size: 0.8em;
      li {
        margin: 0px 0px;
        &:hover {
          border: 2px solid #eea3a3;
        }
      }
      button {
        background: var(--color-hover-bg);
      }
    }
  }
}
