input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"] {
  color: #fff;
}

input[type="text"] {
  border: none;
}

select {
  border: none;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  font-weight: 800;
  color: #fff;
  &:disabled {
    opacity: 1;
  }
}

option {
  color: #fff;
  background: rgb(55,55,45);
}

option:checked, option:hover {
  color: #fff;
  background: rgb(55,55,45);
}

::-webkit-scrollbar {
  display: none;
}

.ask-roll-title .fa-dice-d20 {
	padding-right: 5px;
  padding-left: 5px;
}

.cthack.sheet.actor a.inline-roll,
.cthack.sheet.item a.inline-roll {
  color: black;
}