.sheet-opponent {
    margin: 10px 20px;
    
    .editor {
        min-height: 50px;
    }

    .charname {
        border: 0;
    }

    .flexrow {
        border: 0;
    }

    label {
        flex: 3;
    }

  }