.search-chat {
  padding: 0 0 5px 0;
  h3 {
    padding-top: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    margin: 10px;
    font-weight: bold;
    text-align: center;
  }
  a.content-link {
    background: none;
    margin: 5px 0 0 0;
    padding: 5px;
  }
  .motif {
    padding-bottom: 5px;
  }
  .search-header {
    padding-top: 10px;
  }
  .search-result {
    padding: 5px 0 5px 0;
  }
}

.search-dialog {
  h3 {
    margin: 10px;
    font-weight: bold;
    text-align: center;
  }
  .dialog-buttons button{
    color: #fff;    
  }
  input {
    border: 1px solid #6e0000;
    margin: 10px 0 10px 0;
  }
}
