.search-dialog {
  background-color: #394e55;
  background: var(--background_chat);
  font: 1em "garamondpro";
  label {
    padding: 5px 0 5px 10px;
  }
  input {
    height: 30px;
    margin-top: 10px;    
    border: 1px solid var(--color-underline-header);
  }
  h3 {
    margin: 10px;
    font: 1.2em "garamondpro";
    font-weight: bold;
    text-align: center;
  }
  .dialog-buttons {
    padding-top: 15px;
    button {
      color: #fff;
    }
  }
}

.search-chat {
  background-color: #394e55;
  background: var(--background_chat);
  font-family: "garamondpro";
  font-size: 1.2em;
  h3 {
    margin: 10px;
    font: 1em "garamondpro";
    font-weight: bold;
    text-align: center;
  }
  h4 {
    margin: 10px;
    font: 1.3em "garamondpro";
    font-weight: bold;
    text-align: center;
  }
  .motif {
    margin: 10px;
  }
  .content-link {
    background: none;
    border: 0px;
  }
  .btn-search {
    button {
      padding: 5px;
      margin: 5px;
      line-height: 18px;
    }
  }
}
