.search-chat {
  padding: 0 0 5px 0;
}
.search-chat h3 {
  padding-top: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
}
.search-chat h4 {
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.search-chat .motif {
  padding-bottom: 5px;
}
.search-chat .search-header {
  padding-top: 10px;
}
.search-chat .search-result {
  padding: 5px 0 5px 0;
}
.search-chat .journal {
  margin: 10px 0 10px 0;
}
.search-chat .result {
  margin-top: 5px;
  border: none;
  background: none;
}
.search-chat .result .content-link {
  background: none;
  border: none;
}
.search-chat .btn-highlight button {
  padding: 5px;
  margin: 5px;
  line-height: 18px;
}
.search-dialog h3 {
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.search-dialog .dialog-buttons button {
  color: #fff;
  padding-top: 15px;
}
.search-dialog input {
  border: 1px solid #6e0000;
  margin: 10px 0 10px 0;
}
