.search-chat {
  padding: 0 0 5px 0;
}
.search-chat h3 {
  padding-top: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.search-chat h4 {
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.search-chat a.content-link {
  background: none;
  margin: 5px 0 0 0;
  padding: 5px;
}
.search-chat .motif {
  padding-bottom: 5px;
}
.search-chat .search-header {
  padding-top: 10px;
}
.search-chat .search-result {
  padding: 5px 0 5px 0;
}
.search-dialog h3 {
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.search-dialog .dialog-buttons button {
  color: #fff;
}
.search-dialog input {
  border: 1px solid #6e0000;
  margin: 10px 0 10px 0;
}
