&.sheet.item.weapon {
  .item-common-header();
  .weapon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    .data-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .field-name {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }
    .select-dice-material {
      color: #fff;
      .select:disabled {
        color: #fff;
        opacity: 1;
      }
    }
    .select-range {
      min-width: 80px;
      font-size: 1rem;
      color: #fff;
      opacity: 1;
    }
  }
  .item-common-description();
}
