&.sheet.item.weapon {
  .item-common-header();
  .weapon-grid {
    .item-common-grid(2);
    .select-dice-material {
      //color: var(--font-color-primary);
      opacity: inherit
    }
    .select-range {
      min-width: 80px;
      color: var(--font-color-primary);
      opacity: 1;
    }
  }
  .item-common-description();
}
