// Mixin for items
.item-common-grid(@nbcolumns) {
  display: grid;
  grid-template-columns: repeat(@nbcolumns, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: var(--font-color-primary);
  .data-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .field-name {
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    input,
    select {
      height: 40px;
      padding: 0;
    }
    input[type="checkbox"] {
      flex: none;
    }
  }
}
