@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/ebgaramond-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/ebgaramond-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/ebgaramond-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/ebgaramond-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/ebgaramond-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../ui/fonts/ebgaramond-bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
