@padding-sm: 5px;
@padding-md: 10px;
@padding-lg: 20px;

@font-primary: 'EBGaramond', sans-serif;
@font-secondary: 'EBGaramond', sans-serif;

:root{
    --background-standard:  no-repeat url('/systems/cthack/ui/sheet.webp');
    --font-color-primary: #fff;
    --border-standard: 1px solid #782e22;
    --nav-active-color: darkgrey;
    --nav-active-shadow-color: #782e22;
    --rollable-color: #d44d54;

    scrollbar-width: thin;
    scrollbar-color: #782e22 #111;
}