<div class="ask-roll">
    <h4 class="ask-roll-title"><br><i class="fas fa-dice-d20" ></i> {{text}} <i class="fas fa-dice-d20"></i></h4>
    <a class="ask-roll-dice" data-type="{{rollType}}" data-resource="{{resource}}">
        <br>
        &nbsp;&nbsp;<i class="fas fa-dice-d20" title="Faire le jet"></i>  Faire le jet !
    </a>
</div>