{{!log 'item-description' this}}
<div class="cthack chat-description">
    <div class="name">
        <img src="{{item.img}}"/>
        <div>{{item.name}}</div>
    </div>
    <div>{{{item.enrichedDescription}}}</div>
</div>
