<div class="chat-other-roll">
    <h4 class="chat-other-roll-title">{{rollId}}</h4>
    <div>
    {{#if advantageFromDialog}}<span>{{localize "CHAT.RollWithAdvantageFromDialog"}}<br></span>{{/if}}{{#if disadvantageFromDialog}}<span>{{localize "CHAT.RollWithDisadvantageFromDialog"}}<br></span>{{/if}}
    </div>
</div>
<div class="dice-roll chat-other-roll-result">
        <div class="dice-result">
            <h4 class="dice-total">{{total}}</h4>
            {{> "systems/cthack/templates/chat/tooltip.hbs"}}                                                     
        </div>
</div>
