.item-form {
  color: $c-white;
}

.sheet-header {
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  .profile-img {
    height: calc(100%/5);
    width: auto;
    margin: 0;
  }

  .opponent-img {
    height: calc(100%/10);
    width: auto;
    margin: 0;
  }
  
  .adrenaline-img {
    height: 30px;
    width: auto;
  }

  .archetype-img {
    height: auto;
    width: 128px;
  }

  .definition-img {
    height: auto;
    width: 50px;
  }

  .header-fields {
    flex: 5;
  }

  h1.charname {
    height: 50px;
    padding: 0px 20px 0px 20px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
  font-size: var(--font-size-18);
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.sheet-body {  
  height: 100%;
  min-height: 150px;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;

  .tab {
    min-height: 150px;
    height: 100%;

    .editor {
      min-height: 150px;
      height: 100%;
    }
  }
}

