.items-list {
  list-style: none;
  margin: 0;
  padding: 0;

  div {
    text-align: center;
    vertical-align: middle;
  }

  .item-header {
    line-height: 25px;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid white;
    font-size:var(--font-size-16);

    .item-header-name {
      flex: 2;
      text-align: left;
      vertical-align: middle;
    }
  }

  .item {
    line-height: 25px;
    padding: 0 5px 0 5px;
    &:hover {
      /* darkgrey version
      color: darkgrey;
      font-weight: bold;
      text-shadow: 0 0 10px #851016;
      */
      background-color:darkolivegreen;
    }
    
    .item-image {
      flex: 0 0 40px;
      padding-top: 5px;
      margin-right: 5px;
    }

    .item-name {
      padding-top: 10px;
      text-align: left;
    }

    .item-element {
      padding-top: 5px;
      text-align: center;
      vertical-align: middle;      
    }

    .item-element-text {
      padding-top: 10px;
      text-align: center;
      vertical-align: middle;
    }    
  }

  .item-bloc {
    flex: 2;
    margin: 0;
  }

  .item-name {
    flex: 2;
    margin: 0;
    padding-top: 10px;
  }

  .item-controls-header {
    flex: 0 0 86px;
    text-align: right;
  }

  .item-controls {
    flex: 0 0 86px;
    text-align: right;
    padding-top: 10px;
  }
  
  .item-summary {
    flex: 0 0 100%;
    line-height: 16px;
    padding: 0.25em 0.5em;
    border-top: 1px solid #c9c7b8;
  }
  
  .item-condition {
    padding-top: 5px;
  }
}

.sheet-header .item-image {  
  min-height: 128px;
  width: auto;
  margin: 20px 0 0 20px;
}

.sheet-header .item-name {
  margin: 0 10px 0 10px;
}

.item-item {
  padding-left: 15px;

  label {
    margin-right: 10px;
  }
}

.item-weapon {
  padding-left: 15px;

  label {
    margin-right: 10px;
  }

  .select-range {
    color: white;
    width: 70px;
  }
}

.item-ability {
  select {
    color: white;
    font-weight: normal;
  }

  label {
    flex: 8;
  }
}