.items-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .item-header {
    line-height: 25px;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid white;
    font-size:var(--font-size-16);
  }

  .item {
    line-height: 25px;
    padding: 0 5px 0 5px;
    &:hover {
      background-color: #2b3c2c;
    }
    
    .item-image {
      flex: 0 0 40px;
      padding-top: 5px;
      margin-right: 5px;
    }

    .item-name {
      padding-top: 10px;
    }

    .item-element {
      padding-top: 5px;
      text-align: center;
      vertical-align: middle;      
    }

    .item-element-text {
      padding-top: 10px;
      text-align: center;
      vertical-align: middle;
    }    
  }

  .item-bloc, .item-name  {
    flex: 2;
    margin: 0;
  }

  .item-controls-header {
    flex: 0 0 86px;
    text-align: right;
  }

  .item-controls {
    flex: 0 0 86px;
    text-align: right;
    padding-top: 10px;
  }
  
  .item-summary {
    flex: 0 0 100%;
    line-height: 16px;
    padding: 0.25em 0.5em;
    border-top: 1px solid #c9c7b8;
  }
  
  .item-condition {
    padding-top: 5px;
  }
}