.align-left {
    text-align: left;
  }
  
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
  vertical-align: middle;
}

.noborder {
  border: 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"] {
  color: $c-white;
}

input[type="checkbox"] {
  height: 12px;
  width: 12px;
}

select {
  border: none;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  font-weight: 800;
}

option {
  color: $c-white;
  background: rgb(55,55,45);
}

option:checked, option:hover {
  color: $c-white;
  background: rgb(55,55,45);
}

::-webkit-scrollbar {
  display: none;
}

.dialog-button {
  color: $c-white;
}

nav.sheet-tabs {
  height: 40px;
  border-top: 0;
  border-bottom: 0;
}

.input-hitpoints {
  border-style: none;
  font-size: 16px;
}

.occupation, .archetype, .save, .resource {
  border: none;
}

.character-notes {
  color: #fff;
}

.attack-damage {
  width: 75px;
  text-align: center;
}

.sheet-actor {
  margin: 10px 20px;
}

.cadre {
  background-image: url("../ui/cadre.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  height: 50px;
  border: none;
  color: #fff;
}

.hitpoints {
  padding-left: 70px;
  padding-right: 70px;
}

.hitpoints-cadre {
  background-image: url("../ui/cadre.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  border: none;
  color: #fff;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

.occupation {
  padding-right: 15px;
}

.occupation-input {
  font-size: var(--font-size-16);
}