.align-left {
    text-align: left;
  }
  
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.noborder {
  border: 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"] {
  color: $c-white;
}

select {
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 35px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  font-weight: 800;
}

option {
  color: $c-white;
  background: rgb(55,55,45);
}

option:checked, option:hover {
  color: $c-white;
  background: rgb(55,55,45);
}

::-webkit-scrollbar {
  display: none;
}

.dialog-button {
  color: $c-white;
}

nav.sheet-tabs {
  height: 40px;
}

.attack-damage {
  width: 75px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptextleft {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -25px;
}

.tooltip .tooltiptextright {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -85px;
}

.tooltip:hover .tooltiptextleft,
.tooltip:hover .tooltiptextright {
  visibility: visible;
}

div.tip .tip-title {
  color: #E77600 !important;
  font-weight: bold;
}

label em {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 14px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

label:hover em {
  visibility: visible;
}

.chat-message .message-header .message-sender {
  font-weight: bold;
}