<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Matériel</label>
                <select name="data.dice" data-type="String">
                    {{#select data.dice}}
                        <option value="">{{localize "CTHACK.None"}}</option>
                        <option value="d4">1d4</option>
                        <option value="d6">1d6</option>
                        <option value="d8">1d8</option>
                        <option value="d10">1d10</option>
                        <option value="d12">1d12</option>
                    {{/select}}
                </select>
              </div>
              <div class="resource">
                <label class="resource-label">Portée</label>
                <select name="data.range" data-type="String">
                    {{#select data.range}}
                        <option value="">{{localize "CTHACK.None"}}</option>
                        <option value="near">Proche</option>
                        <option value="far">Loin</option>
                        <option value="distant">Distant</option>
                        <option value="3str">3*Force</option>
                    {{/select}}
                </select>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
