<option value="">{{localize "CTHACK.None"}}</option>
<option value="0">0</option>
<option value="d4">d4</option>
<option value="d6">d6</option>
<option value="d8">d8</option>
<option value="d10">d10</option>
<option value="d12">d12</option>