<option value="0">0</option>
<option value="1">1</option>
<option value="d4">4</option>
<option value="d6">6</option>
<option value="d8">8</option>
<option value="d10">10</option>
<option value="d12">12</option>